.mainContainer {
  width: 100vw;
  height: auto !important;

  display: flex;
  align-items: center;

  /* background: linear-gradient(108deg, #0d03c3 0%, #2272ff 97.89%); */
  background-color: #f1f1f1;
}
